.features {
  padding-top: 50px;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item {
  display: flex;
  align-items: center;

  padding: 35px 0;
  margin-right: 40px;

  width: 330px;

  color: #181c1e;
  font-family: "HelveticaNeueCyr";
  font-size: 18px;
  font-weight: 400;
}

.features__item img {
  margin-right: 20px;
}

.features__item p {

  padding-right: 30px;

}
