.mini-contact-block {
  margin-top: 45px;
  text-align: center;
}

.mini-contact-block__our-tel {
  color: #d9d9d9;
  font-family: "HelveticaNeueCyr";
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;

  &:hover, &:active, &:visited {
    color: #d9d9d9;
    text-decoration: none;
  }

}

.mini-contact-block__tel-input {
  background-color: white;
  border: 1px solid rgba(45, 48, 49, 0.79);
  border-radius: 4px;
  padding-right: 10px;

  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.mini-contact-block__tel-submit {
  color: #ffffff;
  background-color: #5c99d5;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.34) 0%, rgba(255, 255, 255, 0.34) 100%);
  border: 1px solid #4078b6;
  border-radius: 3px 4px 4px 3px;
  box-shadow: inset 0 0 0 rgba(150, 190, 228, 0.38), 0.1px 2px 2px rgba(0, 0, 0, 0.57);

  margin-left: -10px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .mini-contact-block {
    margin-top: 0;
    text-align: right;
  }
}

